<!-- start: 404 -->
<div class="error-full-page">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 page-error">
        <div class="error-number text-azure">
          403
        </div>
        <div class="error-details col-sm-6 col-sm-offset-3">
          <h3>Oops! Você esta parado em 403</h3>
          <p>
              Infelizmente, a página que você está tentando acessar é Proibida: o acesso é negado.
            <br>
              Verifique se você tem permissão para usar a pagina requirida.
            <br>
            <a [routerLink]="['/login']" class="btn btn-red btn-return">
              Entrar
            </a>
            <br>
              Ainda sem Sorte?
            <br>
            Procure o que estiver faltando, ou dê uma olhada no resto do nosso site.
          </p>
          <form action="#">
            <div class="input-group">
              <input type="text" placeholder="palavra..." size="16" class="form-control">
              <span class="input-group-btn">
                <button class="btn btn-azure">
                  Procurar
                </button> </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
