<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">{{modalHeader}}</h4>
    <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Nova Senha</label>
      <input type="password" name="alterPassword" id="alterPassword" class="form-control" />
    </div>
    <div class="form-group">
      <label>Confirma Nova Senha</label>
      <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" />
    </div>
    <div id="messageAlert" class="alert alert-danger">
      <ul>
        Senha e confirma senha tem que ser iguais.
      </ul>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-primary confirm-btn" (click)="closeModal()">Salvar</button>
  </div>
</div>
