<div class="main-content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-content">
                        <p class="category">LFG Online</p>
                        <h3 class="title">{{totalLFGOnline}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Total de itens na fila
                        </div>
                    </div>
                </div>
            </div>
			
			<div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Pós Online</p>
                        <h3 class="title">{{totalPOSOnline}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Total de itens na fila
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Sala Virtual</p>
                        <h3 class="title">{{totalSalaVirtual}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Total de itens na fila
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">content_copy</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Pedidos</p>
                        <h3 class="title">{{totalPedidos}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            Total de itens na fila
                        </div>
                    </div>
                </div>
            </div>

			<div class="col-md-6">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="orange">
                        <chart-cmp fila="LFGOnline"></chart-cmp>
                    </div>
                    <div class="card-content">
                        <h4 class="title">LFG Online</h4>
                        <p class="category">Estados atual das filas de integração da LFG Online</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> ultima atualização: 1 minuto atrás
                        </div>
                    </div>
                </div>

            </div>
			
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="green">
                        <chart-cmp fila="POSOnline"></chart-cmp>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Pós Online</h4>
                        <p class="category">Estados atual das filas de integração da Pós Online</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> ultima atualização: 1 minuto atrás
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="blue">
                        <chart-cmp fila="SalaVirtual"></chart-cmp>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Sala Virtual</h4>
                        <p class="category">Estados atual das filas de integração da Sala Virtual</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> ultima atualização: 1 minuto atrás
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-chart" data-background-color="red">
                        <chart-cmp fila="Pedidos"></chart-cmp>
                    </div>
                    <div class="card-content">
                        <h4 class="title">Pedidos</h4>
                        <p class="category">Estados atual das filas de integração de Pedidos</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> ultima atualização: 1 minuto atrás
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>